@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap');
@import-normalize;

/* bring in normalize.css styles */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;

  @media screen and (min-width: 1290px) {
    width: 1270px;
  }
}

:root {
  --purple-color: #6c5fbc;
  --black-color: #201f1f;
  --background-color: #f9f9f9;
  --white-color: #ffffff;
}

.hero-top-text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 9px;
  color: rgba(32, 31, 31, 0.2);

  line-height: 1.2;
  letter-spacing: 2px;
  z-index: 4;
  @media screen and (min-width: 826px) {
    font-size: 15px;
  }
}
.hero-top-text::before {
  content: '---';
  margin-right: 12px;
  width: 54px;
  height: 1px;
  color: #201f1f37;
  @media screen and (min-width: 826px) {
    color: #201f1f2c;
    margin-right: 20px;
  }
}
.hero-left-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 826px) {
    display: block;
  }
}

.hero-title {
  width: 100%;
  text-align: center;
  color: var(--black-color);
  font-size: 46.239px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1.85px;
  margin-top: 5px;
  margin-bottom: 16px;
  z-index: 6;
  @media screen and (min-width: 826px) {
    font-size: 75px;
    letter-spacing: -3px;
    width: 567px;
    text-align: unset;
    margin-top: 18px;
  }
}
.hero-title span {
  color: var(--purple-color);
}

.hero-bottom-text {
  text-align: center;
  color: #676767;
  font-family: Inter;
  font-size: 11.097px;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: 41px;
  width: 100%;
  @media screen and (min-width: 826px) {
    font-size: 18px;
    margin-bottom: 53px;
    width: 499px;
    text-align: unset;
  }
}
.hero-bottom-text span {
  color: var(--purple-color);
}

.hero-get-started,
.hero-go-pro {
  height: 47px;
  border: 1.5px solid var(--purple-color);
  border-radius: 10px;
  font-size: 13.271px;
  font-weight: 500;
  letter-spacing: 0.163px;
  text-transform: capitalize;
  @media screen and (min-width: 826px) {
    border-radius: 13px;
    height: 59px;
    font-weight: 600;
    font-size: 16.271px;
  }
}

.hero-get-started {
  color: #fff;
  background-color: var(--purple-color);
  width: 125px;
  margin-right: 14px;
  @media screen and (min-width: 826px) {
    margin-right: 18px;
    width: 156px;
  }
}

.hero-go-pro {
  width: 88px;
  background-color: transparent;
  color: var(--purple-color);
  @media screen and (min-width: 826px) {
    width: 110px;
  }
}

.hero-bottom-wrap {
  margin-top: 33px;
  display: flex;
  align-items: baseline;
  margin-bottom: 91px;
  @media screen and (min-width: 826px) {
    margin-bottom: 0;
  }
}

.hero-trustpilot-svg {
  margin-right: 16px;
  width: 98px;
  height: 24px;
  @media screen and (min-width: 826px) {
    margin-right: 20px;
    width: unset;
    height: unset;
  }
}

.hero-stars-svg {
  width: 77px;
  height: 12px;
  margin-right: 7px;
  @media screen and (min-width: 826px) {
    margin-right: 9px;
    width: unset;
    height: unset;
  }
}

.hero-btn-number {
  color: var(--blue-gray-700, #334155);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.6999999881;
  @media screen and (min-width: 826px) {
    line-height: 1.7;
    font-size: 16px;
  }
}

.hero-right-wrap {
  position: relative;
  @media screen and (min-width: 826px) {
    padding-right: 79px;
  }
}

.hero-top-svg {
  position: absolute;
  right: -60px;
  top: -30px;
  width: 19.7px;
  height: 11.4px;
  @media screen and (min-width: 826px) {
    width: unset;
    height: unset;
    right: -41px;
    top: -64px;
  }
}

.hero-bottom-svg {
  position: absolute;
  bottom: -40px;
  left: -40px;
  width: 18.1px;
  height: 15.7;
  @media screen and (min-width: 826px) {
    width: unset;
    height: unset;
    bottom: -100px;
    left: -125px;
  }
}

.hero-main-img-wrap {
  width: 200px;
  height: 201px;
  border-radius: 200px;
  background: linear-gradient(137deg, #6c5fbc 0%, #5144a0 100%);
  position: relative;
  @media screen and (min-width: 826px) {
    width: 422px;
    height: 424px;
  }
}

.hero-img {
  position: absolute;
  left: -12px;
  bottom: -13px;
  z-index: 5;
  width: 203px;
  height: 210px;
  @media screen and (min-width: 826px) {
    width: unset;
    height: unset;
    left: -24px;
    bottom: -28px;
  }
}

.hero-top-img {
  position: absolute;
  z-index: 8;
  right: -50px;
  top: -24px;
  width: 186px;
  height: 62px;
  @media screen and (min-width: 826px) {
    width: unset;
    height: unset;
    right: -25px;
    top: -45px;
  }
}

.hero-bottom-img {
  position: absolute;
  z-index: 8;
  bottom: -30px;
  left: -30px;
  width: 98px;
  height: 97px;
  @media screen and (min-width: 826px) {
    width: unset;
    height: unset;
    bottom: -120px;
    left: -120px;
  }
}

.level--1 {
  transform: translateZ(-40px);
}

.level-1 {
  transform: translateZ(50px);
}

.preserve {
  transform-style: preserve-3d;
}

.level-2 {
  transform: translateZ(80px);
}

.info {
  padding-top: 99px;
  padding-bottom: 82px;
  background-image: url('./bg-mob.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (min-width: 826px) {
    padding-top: 49px;
    padding-bottom: 49px;
    background-image: url('./info-bg.jpg');
  }
}
.info .container {
  padding-left: 0;
  padding-right: 0;
}

.info-item {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 826px) {
    padding-left: 66px;
    padding-right: 66px;
  }
}
.info-item:not(:last-child) {
  border-bottom: 1px solid #c5bfed63;
  padding-bottom: 60px;

  @media screen and (min-width: 826px) {
    border-right: 1px solid #c5bfed50;
    border-bottom: 0;
    padding-bottom: 0px;
  }
}
.info-item:not(:first-child) {
  padding-top: 60px;
  @media screen and (min-width: 826px) {
    padding-top: 0px;
  }
}

.info-item-text {
  width: 263px;
  text-align: center;
  color: #c5bfed;
  font-family: Inter;
  font-size: 14.4px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
}

.info-item-span {
  color: #fff;
  font-size: 43.2px;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 10px;
}

.mobile {
  padding-top: 67px;
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (min-width: 826px) {
    padding-top: 120px;
    padding-left: 0;
    padding-right: 0;
  }
}
.mobile .container {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  padding-bottom: 66px;
  border-bottom: 1px solid #cbcbcb;
  padding-left: 0;
  padding-right: 0;
  @media screen and (min-width: 826px) {
    justify-content: space-between;
    padding-bottom: 120px;
    flex-direction: unset;
  }
}

.mobile-right-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 109px;
  @media screen and (min-width: 826px) {
    width: 560px;
    display: block;
    margin-bottom: 0px;
  }
}

.mobile-left-wrap {
  position: relative;
}
.mobile_img {
  width: 170px;
  height: 342px;
  @media screen and (min-width: 826px) {
    width: unset;
    height: unset;
  }
}
.mobile-left-svg {
  position: absolute;
  width: 29px;
  height: 35px;
  right: -30px;
  top: -10px;
  @media screen and (min-width: 826px) {
    width: unset;
    height: unset;
    right: -60px;
    top: -20px;
  }
}

.mobile-title {
  text-align: center;
  color: var(--black-color);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: capitalize;
  margin-bottom: 37px;
  @media screen and (min-width: 826px) {
    font-size: 50.923px;
    text-align: unset;
    margin-bottom: 63px;
  }
}
.mobile-title span {
  color: var(--purple-color);
}

.mobile-list {
  list-style: unset;
}

.mobile-item:first-child {
  margin-bottom: 28px;
}

.mobile-text {
  color: #676767;
  font-family: Inter;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5;
  @media screen and (min-width: 826px) {
    font-size: 20.335px;
  }
}

.mobile-download {
  position: relative;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple-color);
  border-radius: 9px;
  width: 122px;
  height: 41.2px;
  border: 0;
  @media screen and (min-width: 826px) {
    margin-top: 66px;
    position: unset;
    border-radius: 13px;
    width: 186px;
    height: 63px;
  }
}
.mobile-download p {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  text-transform: capitalize;
  @media screen and (min-width: 826px) {
    font-size: 18.062px;
  }
}
.download-svg {
  width: 17px;
  height: 17px;
  @media screen and (min-width: 826px) {
    width: unset;
    height: unset;
  }
}

.mobile-download-svg {
  margin-left: 15px;
}

.mobile-right-svg {
  position: absolute;
  bottom: -60px;
  left: -70px;
  transform: rotate(110deg);
  width: 101px;
  height: 56px;
  @media screen and (min-width: 826px) {
    width: unset;
    height: unset;
    bottom: -60px;
    left: 200px;
    transform: unset;
  }
}

.restaurants {
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (min-width: 826px) {
    padding-top: 84px;
  }
}
.restaurants .container {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 66px;
  border-bottom: 1px solid #cbcbcb;
  @media screen and (min-width: 826px) {
    padding-bottom: 120px;
    display: block;
  }
}

.restaurants-title {
  color: #323142;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 59px;
  @media screen and (min-width: 826px) {
    font-size: 45px;
    line-height: 0.56;
    margin-bottom: 86px;
  }
}
.restaurants-title span {
  color: var(--purple-color);
}

.restaurants-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 66px;
  @media screen and (min-width: 826px) {
    justify-content: space-between;
    flex-direction: unset;
  }
}

.restaurants-item {
  max-width: 395px;
  border-radius: 30.023px;
  border: 1px solid #f4f4f6;
  box-shadow: 5.9456415176px 71.347694397px 35.6738471985px 0px
    rgba(229, 229, 229, 0.7);
  overflow: hidden;
  position: relative;
  @media screen and (min-width: 826px) {
    width: unset;
  }
}
.restaurants-item:not(:last-child) {
  margin-bottom: 40px;
  @media screen and (min-width: 826px) {
    margin-bottom: 0;
  }
}
.restaurants-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52.4px;
  height: 19.8px;
  background-color: #f7edd0;
  text-align: center;
  border-radius: 5.4px;
  margin-top: 11px;
  color: #daa31a;
  margin-left: 15px;
  font-family: Poppins;
  font-size: 10.163px;
  font-weight: 400;
  @media screen and (min-width: 826px) {
    width: 65px;
    height: 24px;
    font-size: 12.776px;
    margin-left: 33px;
  }
}

.restaurants-item-title {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 600;
  margin-left: 15px;
  margin-bottom: 0;
  margin-top: 2px;
  @media screen and (min-width: 826px) {
    font-size: 12.776px;
    margin-left: 33px;
    font-size: 25.786px;
  }
}

.restaurants-bottom-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  margin-left: 15px;
  @media screen and (min-width: 826px) {
    margin-left: 33px;
  }
}

.restaurants-time,
.restaurants-number {
  color: #8e97a6;
  font-size: 15.384px;
  font-weight: 400;
  line-height: 1.33;
  @media screen and (min-width: 826px) {
    font-size: 19.34px;
  }
}
.restaurants-star-svg {
  width: 20px;
  height: 20px;
  @media screen and (min-width: 826px) {
    width: unset;
    height: unset;
  }
}
.restaurants-img {
  width: 100%;
  /* max-height: 140px; */
}
.restaurants-time {
  margin-right: 6px;
}

.restaurants-number {
  margin-left: 6px;
}

.restaurants-save-svg {
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  @media screen and (min-width: 826px) {
    width: unset;
    height: unset;
    right: 29px;
    bottom: 17px;
  }
}

.restaurants-link {
  margin-left: auto;
  float: right;
  color: #acadb9;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  letter-spacing: -0.1px;
}

.dishes {
  padding-top: 85px;
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (min-width: 826px) {
    padding-top: 100px;
    padding-left: 0;
    padding-right: 0;
  }
}
.dishes .container {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 66px;
  border-bottom: 1px solid #cbcbcb;
  @media screen and (min-width: 826px) {
    padding-bottom: 120px;
  }
}

.dishes-title {
  color: var(--black-color);
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 76px;
  @media screen and (min-width: 826px) {
    font-size: 45px;
    line-height: 25.558px;
  }
}
.dishes-title span {
  color: var(--purple-color);
}

.dishes-list {
  display: grid;
  justify-items: center;
  /* gap: 21px; */
  grid-column-gap: 10px;

  grid-row-gap: 31px;
  grid-template-columns: 1fr;
  margin-bottom: 66px;
  @media screen and (min-width: 347px) {
    display: grid;
    justify-items: center;
    /* gap: 21px; */
    grid-row-gap: 31px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 66px;
  }
  @media screen and (min-width: 826px) {
    display: flex;
    justify-content: space-between;
  }
}

.dishes-mid-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}
.dishes-img {
  width: 100%;
}
.dishes-item {
  max-width: 146px;
  position: relative;
  border-radius: 34.581px;
  background-color: #ffffff;
  border: 1.441px solid #f4f4f6;
  padding-top: 36px;
  padding-left: 15px;
  padding-right: 25px;
  padding-bottom: 32px;
  box-shadow: 6.8484177589px 82.1810150146px 41.0905075073px 0px
    rgba(229, 229, 229, 0.7);
  @media screen and (min-width: 826px) {
    max-width: unset;
  }
}
.dishes-item:last-child {
  display: none;
  @media screen and (min-width: 826px) {
    display: unset;
  }
}
.dishes-mid-wrap .restaurants-time,
.dishes-mid-wrap .restaurants-number {
  font-size: 11.31px;
  @media screen and (min-width: 826px) {
    font-size: unset;
  }
}
.dishes-heart-svg {
  position: absolute;
  top: 24px;
  right: 22px;
  width: 14px;
  height: 12px;

  @media screen and (min-width: 826px) {
    width: unset;
    height: unset;
  }
}

.dishes-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38.5px;
  height: 14.5px;
  background-color: #f7edd0;
  border-radius: 5.4px;
  color: #daa31a;
  font-family: Poppins;
  font-size: 7px;
  font-weight: 400;
  @media screen and (min-width: 826px) {
    font-size: 12.776px;
    width: 65px;
    height: 24px;
  }
}

.dishes-item-title {
  color: var(--black-color);
  font-size: 15.786px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 2px;
  line-height: 1.6;
  @media screen and (min-width: 826px) {
    font-size: 25.786px;
  }
}

.dishes-price {
  color: var(--black-color);
  font-size: 16.965px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.55;
  @media screen and (min-width: 826px) {
    font-size: 25.936px;
  }
}

.dishes-bottom-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dishes-small-price {
  color: #8e97a6;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.55;
  @media screen and (min-width: 826px) {
    font-size: 18.806px;
  }
}

.dishes-btn {
  width: 28.7px;
  height: 26px;
  border-radius: 9px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black-color);
  @media screen and (min-width: 826px) {
    width: 44px;
    height: 40px;
    border-radius: 13px;
  }
}
.dishes-btn span {
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  @media screen and (min-width: 826px) {
    font-size: 34px;
  }
}

.control {
  padding-top: 85px;
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (min-width: 826px) {
    padding-top: 103px;
    padding-left: 0;
    padding-right: 0;
  }
}
.control .container {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* align-items: center; */
  padding-bottom: 80px;
  border-bottom: 1px solid #cbcbcb;
  @media screen and (min-width: 826px) {
    padding-bottom: 120px;
    flex-direction: unset;
  }
}

.control-title {
  margin-bottom: 26px;
  color: var(--black-color);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: capitalize;
  @media screen and (min-width: 826px) {
    font-size: 50.923px;
    margin-bottom: 48px;
    width: 559px;
  }
}
.control-title span {
  color: var(--purple-color);
}
.control-left-wrap {
  margin-bottom: 40px;
  @media screen and (min-width: 826px) {
    margin-bottom: 0;
  }
}
.control-left-item {
  background-color: #fff;
  width: 217px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: 12.041px;
  cursor: pointer;
  transition: 0.2s;
  padding: 2px 11px;
  position: relative;
  @media screen and (min-width: 826px) {
    width: 345px;
    padding: 4px 17px;
    height: 88px;
  }
}
.control-left-item:not(:last-child) {
  margin-bottom: 10px;
  box-shadow: 8.42130184173584px 21.053255081176758px 100px 0px
    rgba(0, 0, 0, 0.1);
  @media screen and (min-width: 826px) {
    margin-bottom: 15px;
    box-shadow: 0;
  }
}
.control-left-item:hover {
  box-shadow: 8.42130184173584px 21.053255081176758px 100px 0px
    rgba(0, 0, 0, 0.1);
}

.control-img {
  width: 47px;
  height: 47px;
  margin-right: 13px;
  @media screen and (min-width: 826px) {
    margin-right: 19px;
    width: 72.245px;
    height: 73.248px;
  }
}

.control-item-title {
  margin-top: 0;
  color: var(--black-color);
  margin-bottom: 2px;
  font-size: 12.065px;
  font-weight: 700;
  line-height: 1.4;
  @media screen and (min-width: 826px) {
    margin-bottom: 4px;
    font-size: 19.065px;
  }
}

.control-item-info {
  color: var(--black-color, #323142);
  font-family: Poppins;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  @media screen and (min-width: 826px) {
    font-size: 12.041px;
  }
}

.control-time-span {
  position: absolute;
  right: 17px;
  bottom: 10px;
  color: #acadb9;
  font-family: Poppins;
  font-size: 8.044px;
  font-weight: 500;
  line-height: 1.4;
  @media screen and (min-width: 826px) {
    font-size: 13.044px;
  }
}

.control-right-wrap {
  max-width: 316px;
  padding: 22px 27px;
  background-color: #fff;
  border-radius: 25.129px;
  border: 1.571px solid #edf2f7;
  box-shadow: 8.42130184173584px 21.053255081176758px 100px 0px
    rgba(0, 0, 0, 0.1);
  @media screen and (min-width: 826px) {
    max-width: unset;
    padding: 40px;
  }
}

.control-top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
  @media screen and (min-width: 826px) {
    margin-bottom: 37px;
  }
}

.control-right-title {
  color: var(--black-color);
  font-size: 16.747px;
  font-weight: 800;
  line-height: 1.35;
  letter-spacing: 0.314px;
  @media screen and (min-width: 826px) {
    font-size: 28.271px;
  }
}

.control-select {
  max-width: 104px;
  height: 32px;
  border: 0;
  border-radius: 12.565px;
  background-color: #fafafa;
  font-family: Inter;
  color: #1a202c;
  cursor: pointer;
  text-align: center;
  font-size: 11.164px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.628px;
  @media screen and (min-width: 826px) {
    max-width: unset;
    width: 175.906px;
    font-size: 18.847px;
    height: 53.4px;
  }
}
.control-select:hover,
.control-select:focus,
.control-select:active {
  outline: 1px solid var(--purple-color);
  @media screen and (min-width: 826px) {
    outline: 2px solid var(--purple-color);
  }
}
.control-select option {
  cursor: pointer;
  color: #1a202c;
  text-align: center;
  font-size: 11.164px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.628px;
  font-family: Inter;
  @media screen and (min-width: 826px) {
    font-size: 18.847px;
  }
}

.control-right-item {
  border-radius: 11px;
  border: 1.5px solid #edf2f7;
  padding: 15px;
  @media screen and (min-width: 826px) {
    padding: 25px;
    border-radius: 18px;
  }
}
.control-right-item:first-child {
  margin-bottom: 13px;
}
.control-item-thumb {
  display: flex;
  align-items: center;
  @media screen and (min-width: 826px) {
    margin-bottom: 20px;
  }
}

.control-svg {
  margin-right: 11px;
  width: 30px;
  height: 30px;
  @media screen and (min-width: 826px) {
    width: unset;
    margin-right: 19px;
    height: unset;
  }
}

.control-right-item-title {
  color: var(--black-color);
  font-size: 11px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.3px;
  @media screen and (min-width: 826px) {
    letter-spacing: 0.628px;
    font-size: 18.847px;
  }
}

.control-item-right-text {
  color: #a0aec0;
  font-size: 9.706px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.3px;

  @media screen and (min-width: 826px) {
    letter-spacing: 0.628px;
    font-size: 15.706px;
  }
}

.control-price {
  margin-right: 0;
  margin-left: auto;
  color: var(--black-color);
  font-size: 13px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.186px;
  @media screen and (min-width: 826px) {
    letter-spacing: 0.328px;
    font-size: 21.988px;
  }
}
.control-bar-svg {
  width: 100%;
  height: 5px;
  @media screen and (min-width: 826px) {
    max-width: unset;
    height: unset;
  }
}

.customer-slider {
  margin-top: 90px;
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (min-width: 826px) {
    margin-top: 116px;
    padding-left: 0;
    padding-right: 0;
  }
}
.customer-slider .container {
  padding-bottom: 80px;
  padding-left: 0;
  padding-right: 0;
  @media screen and (min-width: 826px) {
    padding-bottom: 154px;
  }
}

.customer-title {
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  margin-bottom: 55px;
  line-height: 1.2;
  & span {
    color: var(--purple-color);
  }
  @media screen and (min-width: 826px) {
    font-size: 45px;
    margin-bottom: 80px;
    line-height: 0.56;
  }
}

.review-wrap {
  border-radius: 13px;
  background-color: #fff;
  padding: 22px 25px;
  overflow: hidden;
  position: relative;
  @media screen and (min-width: 826px) {
    padding: 38px 43px;
  }
}

.review-img {
  border-radius: 100px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  @media screen and (min-width: 826px) {
    margin-right: 20px;
    width: unset;
    height: unset;
  }
}

.review-top-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  @media screen and (min-width: 826px) {
    margin-bottom: 28px;
  }
}

.customer-name {
  color: #030314;
  font-family: Poppins;
  font-size: 12.449px;
  font-weight: 500;
  line-height: 1.5;
  @media screen and (min-width: 826px) {
    font-size: 20.893px;
  }
}

.customer-time {
  color: #5e5d5d;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.56;
  @media screen and (min-width: 826px) {
    font-size: 16.715px;
  }
}

.review-svg {
  margin-left: auto;
  margin-right: 0;
  width: 35px;
  height: 26px;
  @media screen and (min-width: 826px) {
    width: unset;
    height: unset;
  }
}

.review-text {
  color: #636363;
  text-align: justify;
  font-family: Poppins;
  font-size: 10.725px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.45;
  margin-bottom: 23px;
  @media screen and (min-width: 826px) {
    margin-bottom: 39px;
    font-size: 18px;
  }
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  left: 50%;
  transform: translate(-50%);
  z-index: 50;
  background: rgba(107, 95, 188, 0.3411764706);
  height: 5px;
  max-width: 300px;
  @media screen and (min-width: 826px) {
    width: 667px;
    height: 11px;
  }
}

.swiper-scrollbar-drag {
  background-color: #6c5fbc;
}

.sale {
  margin-top: 40px;
  margin-bottom: 198px;
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (min-width: 826px) {
    margin-bottom: 216px;
    margin-top: 60px;
  }
}
.sale .container {
  border-radius: 15px;
  background-color: #6c5fbc;
  padding-left: 0;
  padding-right: 0;
  /* padding-left: 27px;
  padding-right: 27px; */
  padding-top: 35px;
  padding-bottom: 95px;
  position: relative;
  max-width: 315px;
  @media screen and (min-width: 826px) {
    background-image: url('./sale-icons.png');
    padding-left: 66px;
    border-radius: 30px;
    padding-bottom: 61px;
    padding-top: 37px;
    padding-right: 0;
    max-width: unset;
    background-size: contain;
  }
}

.sale-title {
  text-align: center;
  color: #fff;
  font-family: Poppins;
  font-weight: 800;
  font-size: 41.447px;
  opacity: 0.7;
  margin-bottom: 15px;
  @media screen and (min-width: 826px) {
    text-align: unset;
    padding-bottom: 9px;
    font-size: 70px;
  }
}

.sale-img {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%);
  width: 170px;
  height: 170px;
  @media screen and (min-width: 826px) {
    transform: unset;
    left: unset;
    width: 274px;
    height: 274px;
    bottom: -100px;
    right: 72px;
  }
}

.sale-input {
  padding-left: 14px;
  padding-right: 100px;
  color: #878787;
  font-family: Poppins;
  font-size: 10.58px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.488px;
  text-transform: capitalize;
  flex-grow: 1;
  max-width: 146px;
  min-width: 70px;
  height: 48px;
  border: 0;
  outline: 0;
  opacity: 0.7;
  border-radius: 14.234px;
  background: #fff;
  box-shadow: 0px 7.2533335686px 45.3333358765px 0px rgba(0, 0, 0, 0.1);
  @media screen and (min-width: 826px) {
    width: 428px;
    max-width: unset;
    padding-left: 21px;
    padding-right: 150px;
    font-size: 16.268px;
    height: 68px;
  }
}
.sale-input::moz::placeholder {
  color: #878787;
  font-family: Poppins;
  font-size: 11.268px;

  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.488px;
  text-transform: capitalize;
  @media screen and (min-width: 826px) {
    font-size: 16.268px;
  }
}
/* .sale-input::placeholder {
  color: #878787;
  font-family: Poppins;
  font-size: 16.58px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.488px;
  text-transform: capitalize;
  @media screen and (min-width: 826px) {
    font-size: 11.268px;
  }
} */
.form {
  padding-left: 27px;
  padding-right: 27px;
  display: flex;
  @media screen and (min-width: 826px) {
    padding-left: 0;
    padding-right: 0;
    display: block;
  }
}
.sale-submit {
  position: absolute;
  bottom: 102px;
  right: 34.8px;
  width: 86.1px;
  height: 34.8px;
  background-color: #6c5fbc;
  border-radius: 8px;
  border: 0;
  color: #f7f8fa;
  font-family: Poppins;
  font-size: 9.594px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.443px;
  text-transform: uppercase;
  @media screen and (min-width: 826px) {
    width: 132.373px;
    height: 53.443px;
    border-radius: 11px;
    bottom: 69px;
    font-size: 14.752px;
    right: 680px;
  }
} /*# sourceMappingURL=main.css.map */
