@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap");
@import-normalize;

/* bring in normalize.css styles */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #F9F9F9;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1270px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

:root {
  --purple-color: #6C5FBC;
  --black-color: #201F1F;
  --background-color: #F9F9F9;
  --white-color: #ffffff;
}





.hero-top-text {
  text-transform: uppercase;
  color: rgba(32, 31, 31, 0.2);
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 2px;
  z-index: 4;
}
.hero-top-text::before {
  content: "---";
  margin-right: 20px;
  width: 54px;
  height: 1px;
  color: #201F1F;
  opacity: 0.200000003;
}

.hero-title {
  width: 567px;
  color: var(--black-color);
  font-size: 75px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -3px;
  margin-top: 18px;
  margin-bottom: 16px;
  z-index: 6;
}
.hero-title span {
  color: var(--purple-color);
}

.hero-bottom-text {
  color: #676767;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: 53px;
  width: 499px;
}
.hero-bottom-text span {
  color: var(--purple-color);
}

.hero-get-started, .hero-go-pro {
  height: 59px;
  border: 1.5px solid var(--purple-color);
  border-radius: 13px;
  font-size: 16.271px;
  font-weight: 600;
  letter-spacing: 0.163px;
  text-transform: capitalize;
}

.hero-get-started {
  color: #fff;
  background-color: var(--purple-color);
  width: 156px;
  margin-right: 18px;
}

.hero-go-pro {
  width: 110px;
  background-color: transparent;
  color: var(--purple-color);
}

.hero-bottom-wrap {
  margin-top: 33px;
  display: flex;
  align-items: baseline;
}

.hero-trustpilot-svg {
  margin-right: 20px;
}

.hero-stars-svg {
  margin-right: 9px;
}

.hero-btn-number {
  color: var(--blue-gray-700, #334155);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  opacity: 0.6999999881;
}

.hero-right-wrap {
  position: relative;
  padding-right: 79px;
}

.hero-top-svg {
  position: absolute;
  right: -41px;
  top: -64px;
}

.hero-bottom-svg {
  position: absolute;
  bottom: -100px;
  left: -125px;
}

.hero-main-img-wrap {
  width: 422px;
  height: 424px;
  border-radius: 424px;
  background: linear-gradient(137deg, #6C5FBC 0%, #5144A0 100%);
  position: relative;
}

.hero-img {
  position: absolute;
  left: -24px;
  bottom: -28px;
  z-index: 5;
}

.hero-top-img {
  position: absolute;
  z-index: 8;
  right: -25px;
  top: -45px;
}

.hero-bottom-img {
  position: absolute;
  z-index: 8;
  bottom: -120px;
  left: -120px;
}

.level--1 {
  transform: translateZ(-40px);
}

.level-1 {
  transform: translateZ(50px);
}

.preserve {
  transform-style: preserve-3d;
}

.level-2 {
  transform: translateZ(80px);
}

.info {
  padding-top: 49px;
  padding-bottom: 49px;
  background-image: url("./info-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.info-list {
  display: flex;
  justify-content: center;
}

.info-item {
  padding-left: 66px;
  padding-right: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-item:not(:last-child) {
  border-right: 1px solid #C5BFED;
}

.info-item-text {
  width: 263.7px;
  text-align: center;
  color: #C5BFED;
  font-family: Inter;
  font-size: 14.4px;
  font-weight: 500;
  line-height: 1.5;
}

.info-item-span {
  color: #FFF;
  font-size: 43.2px;
  font-weight: 700;
  line-height: 1.25;
}

.mobile {
  padding-top: 120px;
}
.mobile .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
  border-bottom: 1px solid #CBCBCB;
}

.mobile-right-wrap {
  width: 560px;
  position: relative;
}

.mobile-left-wrap {
  position: relative;
}

.mobile-left-svg {
  position: absolute;
  right: -60px;
  top: -20px;
}

.mobile-title {
  color: var(--black-color);
  font-size: 50.923px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: capitalize;
  margin-bottom: 63px;
}
.mobile-title span {
  color: var(--purple-color);
}

.mobile-list {
  list-style: unset;
}

.mobile-item:first-child {
  margin-bottom: 28px;
}

.mobile-text {
  color: #676767;
  font-family: Inter;
  font-size: 20.335px;
  font-weight: 400;
  line-height: 1.5;
}

.mobile-download {
  margin-top: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple-color);
  border-radius: 13px;
  width: 186px;
  height: 63px;
  border: 0;
}
.mobile-download p {
  color: #FFF;
  text-align: center;
  font-size: 18.062px;
  font-weight: 500;
  line-height: 1.25;
  text-transform: capitalize;
}

.mobile-download-svg {
  margin-left: 15px;
}

.mobile-right-svg {
  position: absolute;
  bottom: -60px;
  left: 200px;
}

.restaurants {
  padding-top: 100px;
}
.restaurants .container {
  padding-bottom: 120px;
  border-bottom: 1px solid #CBCBCB;
}

.restaurants-title {
  color: #323142;
  font-size: 45px;
  font-weight: 600;
  line-height: 0.56;
  text-align: center;
  margin-bottom: 86px;
}
.restaurants-title span {
  color: var(--purple-color);
}

.restaurants-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 66px;
}

.restaurants-item {
  border-radius: 30.023px;
  border: 1px solid #F4F4F6;
  box-shadow: 5.9456415176px 71.347694397px 35.6738471985px 0px rgba(229, 229, 229, 0.7);
  overflow: hidden;
  position: relative;
}

.restaurants-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 24px;
  background-color: #F7EDD0;
  text-align: center;
  border-radius: 5.4px;
  margin-top: 11px;
  margin-left: 33px;
  color: #DAA31A;
  font-family: Poppins;
  font-size: 12.776px;
  font-weight: 400;
}

.restaurants-item-title {
  color: var(--black-color);
  font-size: 25.786px;
  font-weight: 600;
  margin-left: 33px;
  margin-bottom: 0;
  margin-top: 2px;
}

.restaurants-bottom-wrap {
  display: flex;
  align-items: center;
  margin-left: 33px;
  margin-bottom: 18px;
}

.restaurants-time, .restaurants-number {
  color: #8E97A6;
  font-size: 19.34px;
  font-weight: 400;
  line-height: 1.33;
}

.restaurants-time {
  margin-right: 6px;
}

.restaurants-number {
  margin-left: 6px;
}

.restaurants-save-svg {
  cursor: pointer;
  position: absolute;
  right: 29px;
  bottom: 17px;
}

.restaurants-link {
  margin-left: auto;
  float: right;
  color: #ACADB9;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  letter-spacing: -0.1px;
}

.dishes {
  padding-top: 100px;
}
.dishes .container {
  padding-bottom: 120px;
  border-bottom: 1px solid #CBCBCB;
}

.dishes-title {
  color: var(--black-color);
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.558px;
  text-align: center;
  margin-bottom: 76px;
}
.dishes-title span {
  color: var(--purple-color);
}

.dishes-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 66px;
}

.dishes-mid-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}

.dishes-item {
  position: relative;
  border-radius: 34.581px;
  background-color: #ffffff;
  border: 1.441px solid #F4F4F6;
  padding-top: 36px;
  padding-left: 15px;
  padding-right: 25px;
  padding-bottom: 32px;
  box-shadow: 6.8484177589px 82.1810150146px 41.0905075073px 0px rgba(229, 229, 229, 0.7);
}

.dishes-heart-svg {
  position: absolute;
  top: 24px;
  right: 22px;
}

.dishes-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 24px;
  background-color: #F7EDD0;
  border-radius: 5.4px;
  color: #DAA31A;
  font-family: Poppins;
  font-size: 12.776px;
  font-weight: 400;
}

.dishes-item-title {
  color: var(--black-color);
  font-size: 25.786px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 2px;
}

.dishes-price {
  color: var(--black-color);
  font-size: 25.936px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.55;
}

.dishes-bottom-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dishes-small-price {
  color: #8E97A6;
  font-size: 18.806px;
  font-weight: 700;
  line-height: 1.55;
}

.dishes-btn {
  width: 44px;
  height: 40px;
  border-radius: 13px;
  border: 0;
  background-color: var(--black-color);
}
.dishes-btn span {
  color: #fff;
  font-weight: 500;
  font-size: 34px;
}

.control {
  padding-top: 103px;
}
.control .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
  border-bottom: 1px solid #CBCBCB;
}

.control-title {
  width: 559px;
  margin-bottom: 48px;
  color: var(--black-color);
  font-size: 50.923px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: capitalize;
}
.control-title span {
  color: var(--purple-color);
}

.control-left-item {
  background-color: #fff;
  width: 345px;
  height: 88px;
  display: flex;
  align-items: center;
  border-radius: 12.041px;
  cursor: pointer;
  transition: 0.2s;
  padding: 4px 17px;
  position: relative;
}
.control-left-item:not(:last-child) {
  margin-bottom: 15px;
}
.control-left-item:hover {
        box-shadow: 8.42130184173584px 21.053255081176758px 100px 0px rgba(0, 0, 0, 0.10);
}

.control-img {
  width: 72.245px;
  height: 73.248px;
  margin-right: 19px;
}

.control-item-title {
  margin-top: 0;
  color: var(--black-color);
  margin-bottom: 4px;
  font-size: 19.065px;
  font-weight: 700;
  line-height: 1.4;
}

.control-item-info {
  color: var(--black-color, #323142);
  font-family: Poppins;
  font-size: 12.041px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
}

.control-time-span {
  position: absolute;
  right: 17px;
  bottom: 10px;
  color: #ACADB9;
  font-family: Poppins;
  font-size: 13.044px;
  font-weight: 500;
  line-height: 1.4;
}

.control-right-wrap {
  padding: 40px;
  background-color: #fff;
  border-radius: 25.129px;
  border: 1.571px solid #EDF2F7;
      box-shadow: 8.42130184173584px 21.053255081176758px 100px 0px rgba(0, 0, 0, 0.10);
}

.control-top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}

.control-right-title {
  color: var(--black-color);
  font-size: 28.271px;
  font-weight: 800;
  line-height: 1.35;
  letter-spacing: 0.314px;
}

.control-select {
  width: 175.906px;
  height: 53.4px;
  border: 0;
  border-radius: 12.565px;
  background-color: #FAFAFA;
  font-family: Inter;
  color: #1A202C;
  cursor: pointer;
  text-align: center;
  font-size: 18.847px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.628px;
}
.control-select:hover, .control-select:focus, .control-select:active {
  outline: 2px solid var(--purple-color);
}
.control-select option {
  cursor: pointer;
  color: #1A202C;
  text-align: center;
  font-size: 18.847px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.628px;
  font-family: Inter;
}

.control-right-item {
  border-radius: 18px;
  border: 1.5px solid #EDF2F7;
  padding: 25px;
  &:first-child {
    margin-bottom: 13px;
  }
}

.control-item-thumb {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.control-svg {
  margin-right: 19px;
}

.control-right-item-title {
  color: var(--black-color);
  font-size: 18.847px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.628px;
}

.control-item-right-text {
  color: #A0AEC0;
  font-size: 15.706px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.628px;
}

.control-price {
  margin-right: 0;
  margin-left: auto;
  color: var(--black-color);
  font-size: 21.988px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.314px;
}

.customer-slider {
  margin-top: 116px;
  
}
.customer-slider .container {
  padding-bottom: 217px;
}

.customer-title {
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 0.56;
  text-align: center;
  margin-bottom: 80px;
}

.review-wrap {
  border-radius: 13px;
  background-color: #fff;
  padding: 38px 43px;
  overflow: hidden;
  position: relative;
  
}

.review-img {
  border-radius: 100px;
  margin-right: 20px;
}

.review-top-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.customer-name {
  color: #030314;
  font-family: Poppins;
  font-size: 20.893px;
  font-weight: 500;
  line-height: 1.5;
}

.customer-time {
  color: #5E5D5D;
  font-size: 16.715px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.56;
}

.review-svg {
  margin-left: auto;
  margin-right: 0;
}

.review-text {
  color: #636363;
  text-align: justify;
  font-family: Poppins;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.45;
  margin-bottom: 39px;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  top: unset;
  z-index: 50;
  background: rgba(107, 95, 188, 0.3411764706);
  height: 11px;
  width: 667px;
}

.swiper-scrollbar-drag {
  background-color: #6C5FBC;
}

.sale {
  margin-top: 60px;
  margin-bottom: 216px;
}
.sale .container {
  border-radius: 30px;
  background-color: #6C5FBC;
  background-image: url("./sale-icons.png");
  background-size: contain;
  padding-left: 66px;
  padding-top: 37px;
  padding-bottom: 61px;
  position: relative;
}

.sale-title {
  color: #FFF;
  font-family: Poppins;
  font-size: 70px;
  font-weight: 800;
  opacity: 0.7;
  padding-bottom: 9px;
}

.sale-img {
  position: absolute;
  bottom: -100px;
  right: 72px;
  width: 274px;
  height: 274px;
}

.sale-input {
  padding-left: 21px;
  padding-right: 150px;
  color: #878787;
  font-family: Poppins;
  font-size: 16.268px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.488px;
  text-transform: capitalize;
  width: 428px;
  height: 68px;
  border: 0;
  outline: 0;
  opacity: 0.7;
  border-radius: 14.234px;
  background: #FFF;
  box-shadow: 0px 7.2533335686px 45.3333358765px 0px rgba(0, 0, 0, 0.1);
}
.sale-input::-moz-placeholder {
  color: #878787;
  font-family: Poppins;
  font-size: 16.268px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.488px;
  text-transform: capitalize;
}
.sale-input::placeholder {
  color: #878787;
  font-family: Poppins;
  font-size: 16.268px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.488px;
  text-transform: capitalize;
}

.sale-submit {
  position: absolute;
  bottom: 69px;
  right: 693px;
  width: 132.373px;
  height: 53.443px;
  background-color: #6C5FBC;
  border-radius: 11px;
  border: 0;
  color: #F7F8FA;
  font-family: Poppins;
  font-size: 14.752px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.443px;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */