.hero-tilt-animation {
  padding-top: 57px;
  padding-bottom: 120px;
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (min-width: 826px) {
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
  }
}
.hero-tilt-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: 826px) {
    flex-direction: unset;
    justify-content: space-between;
  }
}
.preserve {
  transform-style: preserve-3d;
}

.mob-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #ffff;
  top: 0;
  z-index: 1;

  @media screen and (min-width: 826px) {
    display: none;
  }
}
.mob_container {
  padding-top: 48px;
  padding-bottom: 48px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.menu-close-btn {
  position: absolute;
  right: 50px;
  top: 21px;
  border: none;
  background-color: transparent;
}
.mob-menu-list {
  margin-top: 8px;
  margin-bottom: auto;
}
.mob-menu-link {
  display: block;
  padding: 10px 20px;
  color: #000;
  letter-spacing: normal;
  font-size: 21px;
}
.mob-menu-sign {
  display: block;
  padding: 10px 20px;
  color: var(--purple-color);
  letter-spacing: normal;
  font-weight: 500;
  font-size: 24px;
}
.info-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 826px) {
    flex-direction: unset;
    justify-content: unset;
    align-items: unset;
  }
}
