.hero {
    padding-top: 120px;
}
.container {
    width: 1270px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    display: flex;
}
.sale_wrapper {
    background-color: var(--purple-color);
    width: 700px;
    height: 192px;
    border-radius: 18px;
    background-image: url('../menu/sale-icons.png');
    background-size: contain;
    padding-top: 30px;
    padding-bottom: 29px;
    padding-left: 58px;
    position: relative;
    margin-bottom: 143px;
}
.hero_left_wrap {
    margin-right: 112px;
    position: relative;
    
}
.hero_top_svg {
    position: absolute;
    right: -40px;
    top: -27px;
}
.hero_title {
    width: 325.846px;
    color:  #F7F8FA;
        font-family: Poppins;
        font-size: 74.996px;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        & span {
            color: #7C6FCD;
                text-align: center;
                font-family: Poppins;
                font-size: 87.419px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                position: absolute;
                top: 91px;
                left: 61px;
        }
}
.hero_img {
    position: absolute;
    top: 50px;
    left: 468px;
    width: 254.296px;
    height: 256.112px;
}
.form {
    position: relative;
    margin-bottom: 35px;
}
.form_btn {
    position: absolute;
    border: 0;
    background-color: transparent;
    top: 24px;
    left: 20px;
}
.form_input {
    width: 686px;
    height: 75px;
    background-color: #EDEDED;
    outline: 0;
    border: none;
    padding-left: 71px;
    color: #AAABBA;
        font-family: Poppins;
        font-size: 20.544px;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: -0.411px;
        border-radius: 18px;
        &::placeholder {
            color: #AAABBA;
                font-family: Poppins;
                font-size: 20.544px;
                font-weight: 500;
                line-height: 1.17;
                letter-spacing: -0.411px;
        }
}
.hero_btn_wrap {
    width: 757px;
    border: 2px solid var(--purple-color);
    border-radius: 15px;
    display: flex;
    overflow: hidden;
}

.hero_right_wrap {
    width: 311px;
    padding-top: 32px;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 39px;
    border-radius: 23.801px;
    background-color: #fff;
    box-shadow: 5.71212100982666px 9.520201683044434px 28.560604095458984px 0.9520201683044434px rgba(108, 95, 188, 0.12);
}
.hero_right_title {
    color: #323142;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Poppins;
        font-size: 21.452px;
        font-weight: 600;
        line-height: 1.34;
        margin-bottom: 23px;
}
.second_right_title {
    margin-bottom: 13px;
    color: #323142;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Poppins;
        font-size: 21.452px;
        font-weight: 600;
        line-height: 1.34;
}
.third_right_title {
    margin-bottom: 17px;
        color: #323142;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Poppins;
        font-size: 21.452px;
        font-weight: 600;
        line-height: 1.34;
}
.right_list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


.sort_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 28px;
}
.right_range {
    width: 303px;
    height: 5px;
    background-color: var(--purple-color);
    margin-bottom: 12px;
}
.right_range_list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}
.range_item {
    color: #C2C3CB;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Poppins;
        font-size: 10.562px;
        font-style: normal;
        font-weight: 500;
        line-height: 2.8;
}
.right_btn {
    border-radius: 13.648px;
    background-color: var(--purple-color);
    color: #FFF3EB;
        font-family: Poppins;
        font-size: 13.729px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.137px;
        width: 313px;
        height: 60px;
        border: 0;
}

/* Accordion */

.questions {
    padding-top: 196px;
    padding-bottom: 173px;
    & .container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.questions-top-svg {
    position: absolute;
    transform: rotate(-170deg);
    top: -45px;
    left: 840px;
}
.questions_title {
    width: 408px;
    color: #323142;
        text-align: center;
        font-family: Poppins;
        font-size: 45px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 90px;
        & span {
            color: #7C6FCD;
        }
}
.questions-list {
    width: 100%;
}
.question_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}