.questions-item-title {
    color: #323142;
        font-family: Poppins;
        font-size: 23.417px;
        font-style: normal;
        font-weight: 600;
        line-height: 2.5;
}
.question-container {
    padding-top: 25px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ADADAD;
    cursor: pointer;
}
