.form_input_name {
  margin-bottom: 12px;
  @media screen and (min-width: 826px) {
    margin-bottom: 26px;
  }
}
.form_input_email {
  margin-bottom: 26px;
  @media screen and (min-width: 826px) {
    margin-bottom: 52px;
  }
}
.form_input {
  border-radius: 10.892px;
  padding-left: 16px;
  max-width: 384px;
  min-width: 150px;
  flex-grow: 1;
  border: 1.2px solid #6c5fbc;
  background-color: #f9f9f9;
  height: 57px;
  outline: 0;
  color: #b6b6b6;
  font-family: Inter;
  font-size: 10.892px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  @media screen and (min-width: 826px) {
    max-width: unset;
    min-width: unset;
    flex-grow: unset;
    padding-left: 25px;
    height: 79px;
    font-size: 16.892px;
    border-radius: 16.892px;
    border: 2px solid #6c5fbc;
  }
}
