.dishes {
    padding-top: 100px;
    & .container {
        padding-bottom: 120px;
        border-bottom: 1px solid #CBCBCB;
    }
}
.dishes-title {
    color: var(--black-color);
font-family: Poppins;
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: 25.558px;
text-align: center;
margin-bottom: 76px;
& span {
    color: var(--purple-color);
}
}
.dishes-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 66px;
}
.dishes-mid-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}
.dishes-item {
    position: relative;
    border-radius: 34.581px;
    background-color: #ffffff;
    border: 1.441px solid  #F4F4F6;
    padding-top: 36px;
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 32px;
    box-shadow: 6.84841775894165px 82.18101501464844px 41.09050750732422px 0px rgba(229, 229, 229, 0.70);
}
.dishes-heart-svg {
    position: absolute;
    top: 24px;
    right: 22px;
}
.dishes-type {
    display: flex;
    align-items: center;
    justify-content: center;
        width: 65px;
        height: 24px;
        background-color: #F7EDD0;
        border-radius: 5.4px;
        color: #DAA31A;
        font-family: Poppins;
        font-size: 12.776px;
        font-weight: 400;
}
.dishes-item-title {
    color: var(--black-color);
        font-size: 25.786px;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 2px;
}
.dishes-price {
    color: var(--black-color);
        font-size: 25.936px;
        font-style: normal;
    font-weight: 700;
    line-height: 1.55
}
.dishes-bottom-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dishes-small-price {
    color:  #8E97A6;
        font-size: 18.806px;
        font-weight: 700;
        line-height: 1.55;
}
.dishes-btn {
    width: 44px;
    height: 40px;
    border-radius: 13px;
    border: 0;
    background-color: var(--black-color);
    & span {
        color: #fff;
        font-weight: 500;
        font-size: 34px;
    }
}