.hero {
    padding-top: 80px;
    padding-bottom: 120px;
    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.hero-container {
    transform-style: preserve-3d;
}
.hero-top-text {
    text-transform: uppercase;
    color: rgba(32, 31, 31, 0.20);
        font-size: 15px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 2px;
        z-index: 4;
        &::before {
            content: '---';
            margin-right: 20px;
            width: 54px;
            height: 1px;
            color: #201F1F;
            opacity: 0.20000000298023224;
        }
}
.hero-title {
    width: 567px;
    color: var(--black-color);
        font-size: 75px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -3px;
        margin-top: 18px;
        margin-bottom: 16px;
        z-index: 6;
        & span {
            color: var(--purple-color);
        }

}
.hero-bottom-text {
    color: #676767;
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.55;
        margin-bottom: 53px;
        width: 499px; 
        & span {
            color: var(--purple-color);
        }
}
.hero-get-started, .hero-go-pro {
    height: 59px;
    border: 1.5px solid var(--purple-color);
    border-radius: 13px;
    font-size: 16.271px;
        font-weight: 600;
        letter-spacing: 0.163px;
        text-transform: capitalize;
}
.hero-get-started {
    color: #fff;
    background-color: var(--purple-color);
    width: 156px;
    margin-right: 18px;
}
.hero-go-pro {
    width: 110px;
    background-color: transparent;
    color: var(--purple-color);
}
.hero-bottom-wrap {
    margin-top: 33px;
    display: flex;
    align-items: baseline;
}
.hero-trustpilot-svg {
    margin-right: 20px;
}
.hero-stars-svg {
    margin-right: 9px;
}
.hero-btn-number {
    color: var(--blue-gray-700, #334155);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.7;
        opacity: 0.699999988079071;
}
.hero-right-wrap {
    position: relative;
    padding-right: 79px;
}
.hero-top-svg {
    position: absolute;
    right: -41px;
    top: -64px;
}
.hero-bottom-svg {
    position: absolute;
    bottom: -100px;
    left: -125px;
}
.hero-main-img-wrap {
    width: 422px;
        height: 424px;
        border-radius: 424px;
        background: linear-gradient(137deg, #6C5FBC 0%, #5144A0 100%);
        position: relative;
}
.hero-img {
    position: absolute;
    left: -24px;
    bottom: -28px;
    z-index: 5;
}
.hero-top-img {
    position: absolute;
    z-index: 8;
    right: -25px;
    top: -45px;
}
.hero-bottom-img {
    position: absolute;
    z-index: 8;
    bottom: -120px;
    left: -120px;
}
// .level-0 {
//     transform: translateZ(-50px);
// }
.level--1 {
    transform: translateZ(-40px);
}
.level-1 {
    transform: translateZ(50px);
}
.preserve {
    transform-style: preserve-3d
}
.level-2 {
    transform: translateZ(80px);
}
.level-3 {

}
