.restaurants {
    padding-top: 100px;
    & .container {
        padding-bottom: 120px;
        border-bottom: 1px solid #CBCBCB;
    }
}
.restaurants-title {
    color: #323142;
        font-size: 45px;
        font-weight: 600;
        line-height: 0.56;
        text-align: center;
        margin-bottom: 86px;
        & span {
            color: var(--purple-color);
        }
}
.restaurants-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 66px;
}
.restaurants-item {
    border-radius: 30.023px;
    border: 1px solid #F4F4F6;
    box-shadow: 5.94564151763916px 71.34769439697266px 35.67384719848633px 0px rgba(229, 229, 229, 0.70);
    overflow: hidden;
    position: relative;
}
.restaurants-type {
    display: flex;
        align-items: center;
        justify-content: center;
    width: 65px;
    height: 24px;
    background-color: #F7EDD0;
    text-align: center;
    border-radius: 5.4px;
    margin-top: 11px;
    margin-left: 33px;
    color: #DAA31A;
        font-family: Poppins;
        font-size: 12.776px;
        font-weight: 400;
}
.restaurants-item-title {
    color: var(--black-color);
        font-size: 25.786px;
        font-weight: 600;
        margin-left: 33px;
        margin-bottom: 0;
        margin-top: 2px;
}
.restaurants-bottom-wrap {
    display: flex;
    align-items: center;
    margin-left: 33px;
    margin-bottom: 18px;
}
.restaurants-time, .restaurants-number {
    color: #8E97A6;
        font-size: 19.34px;
        font-weight: 400;
        line-height: 1.33;
}
.restaurants-time {
    margin-right: 6px;
}
.restaurants-number {
    margin-left: 6px;
}
.restaurants-save-svg {
    cursor: pointer;
    position: absolute;
    right: 29px;
    bottom: 17px;
} 
.restaurants-link {
    margin-left: auto;
    float: right;
    color: #ACADB9;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 2.25;
        letter-spacing: -0.1px;
}