.sale {
    margin-bottom: 216px;
    & .container {
        border-radius: 30px;
        background-color: #6C5FBC;
        background-image: url('./sale-icons.png');
        background-size: contain;
    padding-left: 66px;
    padding-top: 37px;
    padding-bottom: 61px;
    position: relative;

    }
}
.sale-title {
    color: #FFF;
        font-family: Poppins;
        font-size: 70px;
        font-weight: 800;
        opacity: 0.7;
        padding-bottom: 9px;
}
.sale-img {
    position: absolute;
    bottom: -100px;
    right: 72px;
    width: 274px;
    height: 274px;
}
.sale-input {
    padding-left: 21px;
    padding-right: 150px;
    color: #878787;
        font-family: Poppins;
        font-size: 16.268px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.488px;
        text-transform: capitalize;
    width: 428px;
    height: 68px;
    border: 0;
    outline: 0;
    opacity: 0.7;
    border-radius: 14.234px;
        background: #FFF;
        box-shadow: 0px 7.253333568572998px 45.333335876464844px 0px rgba(0, 0, 0, 0.10);
    &::placeholder {
        color: #878787;
            font-family: Poppins;
            font-size: 16.268px;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.488px;
            text-transform: capitalize;
    }

    }

.sale-submit {
    position: absolute;
    bottom: 69px;
    right: 693px;
    width: 132.373px;
        height: 53.443px;
        background-color: #6C5FBC;
        border-radius: 11px;

        border: 0;
        color: #F7F8FA;
            font-family: Poppins;
            font-size: 14.752px;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.443px;
            text-transform: uppercase;
}